{% extends "template.html.twig" %}

{% block body %}
	<div class="body-content">

		{% if flash != NULL %}
			<div class="{{flash.type}}">
				<h6>{{flash.message}}</h6>
			</div>
		{% endif %}

		<div>
			<h2>Accueil</h2>
		</div>

	</div>
{% endblock %}
