nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
    padding-inline: clamp(3em, 6vw, 6em);
    background: #457564;
    color: #e4e4e4;
    font-size: clamp(1rem, 1.75vw, 1.75rem);
    font-family: 'Lato', sans-serif;

    a{
        cursor: default;
        color:#e4e4e4;
    }
    #menu-icon{
        display: none;
    }
    ul{
        display: flex;

        li{
            padding-left: 2em;
            a{
                color: #e4e4e4;
                cursor: pointer;
            }
        }
    }
    .menu{
        display: none;
    }
}

@media (max-width: 850px){
    nav #menu-icon{
        display: initial;
    }
    nav ul{
        display: none;
    }
    #research{
        width: 400px;
    }
}